:root {
  --primary-color: #f4acb7;
  --light-primary: #d8e2dc;
  --ligthest-color: #ffe5d9;
  --secundary-color: #ffcad4;
  --light-secondary: #9d8189;
}

#modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

#modal-background {
  background-color: var(--light-primary);
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: 0;
}

#modal-container {
  background-color: var(--ligthest-color);
  z-index: 1;
  padding: 1rem 3rem;
  border-radius: 10px;
}

#movie-title {
  padding: 1rem 0;
}

#modal-body {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

#movie-poster {
  border-radius: 10px;
  box-shadow: #202924 0px 0px 5px;
  max-width: 350px;
}

#movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
}

#add-to-list {
    border: 2px solid var(--primary-color);
    padding: 0.3rem 0;
    width: 100%;
    border-radius: 10px;
    font-size: bold;
    box-shadow: #000 1px 1px 10px;
}

#add-to-list:hover, #add-to-list:focus {
    background-color: var(--primary-color);
    color: var(--ligthest-color);
}
